Source: solidrun-keyring
Section: misc
Priority: extra
Maintainer: Josua Mayer <josua@solid-run.com>
Build-Depends: debhelper (>> 9), gnupg1 | gnupg (<< 2)
Standards-Version: 3.9.8

Package: solidrun-keyring
Architecture: all
Multi-Arch: foreign
Depends: gpgv, apt, ${misc:Depends}
Recommends: gnupg
Breaks: apt (<< 0.7.25.1)
Description: GnuPG keys of the SolidRun repos
 This package provides the keys used by SolidRun to sign all of their debs.

Package: solidrun-keyring-udeb
XC-Package-Type: udeb
Section: debian-installer
Architecture: all
Recommends: gpgv-udeb
Description: GnuPG keys of the SolidRun repos
 This package provides the keys used by SolidRun to sign all of their debs.
